{% extends "base.html" %}

{% block announce %}
<div class="banner-custom">
  <img src="/img/events/top.jpeg" alt="Top banner">
  <div class="banner-text">
	Ходи пеша. Подари чист въздух.
  </div>
  <div class="banner-button">
	<a class="md-button md-button--primary custom-button-join" href="/join">Присъедини се</a>
  </div>
</div>
{% endblock %}

{% block extrahead %}
  {% if page and page.meta and page.meta.maps and config.extra.maps_css %}
	{% for css in config.extra.maps_css %}
      <link rel="stylesheet" href="{{ css.path | url }}">
    {% endfor %}
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}

  {% if page and page.meta and page.meta.maps and config.extra.maps_javascript %}
	{% for script in config.extra.maps_javascript %}
      {{ script | script_tag }}
    {% endfor %}
  {% endif %}
{% endblock %}
