name: Dev website

on:
  push:
    branches:
      - 'dev-*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install zensical
      - run: zensical build --clean
      - uses: actions/upload-artifact@v4
        with:
          name: site-build
          path: site/
          retention-days: 1

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write  # required for peaceiris push

    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v4
        with:
          name: site-build
          path: site/

      - name: Deploy for Cloudflare
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          publish_branch: gh-pages-dev
          force_orphan: true
          commit_message: |
            Deploy preview from ${{ github.ref_name }}
            ${{ github.event.head_commit.message }}
